@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&family=Titillium+Web:wght@300&display=swap');



#resourcepage{
    
    /* background-color: rgb(165, 157, 42);   */

    font-family: 'Source Sans Pro', sans-serif;
    transition: 15s; 
   scroll-behavior: smooth;
}
.resource_heading{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: #2994af ;
    padding-top: 4rem ;
    padding-bottom: 1rem;
}
.resource_para{
    color: #1B2631;
    font-size: 1.1rem;
    font-weight: 600;
   text-align: justify;
    letter-spacing: 0.1rem;
} 
@media only screen and (max-width: 800px) {

    .resource_heading{
      font-size: 2.5rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      color: #2994af ;
      padding-top: 4rem ;
      padding-bottom: 1rem;
  }
  .resource_para{
    color: #1B2631;
    font-size: 0.9rem;
    font-weight: 600;
   text-align: justify;
    letter-spacing: 0.1rem;
} 
  }
